In [3]:
%%bash
which pyspark

/home/4oceanknowledges/spark/spark-3.3.2-bin-hadoop3/bin/pyspark

In [2]:
import pyspark

In [4]:
pyspark.__file__

'/home/4oceanknowledges/spark/spark-3.3.2-bin-hadoop3/python/pyspark/__init__.py'

In [5]:
from pyspark.sql import SparkSession

In [10]:
 spark = SparkSession.builder \
    .master("local[*]")\
    .appName('test')\
    .getOrCreate()

In [12]:
# downloading the data
! wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-02-22 03:57:37--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.222.64, 54.231.171.192, 52.217.93.110, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.222.64|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.06s

2024-02-22 03:57:38 (200 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [15]:
# read the data

df = spark.read\
    .option("header","true")\
    .csv("taxi+_zone_lookup.csv")

In [17]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [19]:
df.write.parquet('zones')

AnalysisException: path file:/home/4oceanknowledges/notebook/zones already exists.